h1{
    font-family: "Abadi MT Condensed Light";
    font-size: xx-large;
}

main{
    margin-top: 5%;
    margin-left: 10%;
}

#left, #middle, #right{
    max-width: 7%;
}

#second{
    margin-left: 4%;
}
#third{
    margin-left: 2%;
}

.btn-success{
    min-width: 25%;
}