/*=========my own css========*/
body, html {
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
    margin-top: 2%;
    padding: 0;
    height: 100%;
    background-color: lightblue;
}

.headings {
    margin-top: 3%;
    margin-bottom: 5%;
    text-align: center;
    font-family: Eurostile;
    font-size: 90px;
}

h1, h3{
    display: inline;
    margin-bottom: -5px;
}

.navbar-navbar-fixed-top {
    font-family: Eurostile;
}

.container{
    background-color: rgba(241, 241, 201, 0.78);
}

.about-me {
    font-size: 125%;
    text-align: center;
    font-family: Eurostile;
    max-width: 50%;
    margin-top: 7%;
}

.img-thumbnail{
    max-height: 350px;
    max-width: 350px;
    margin-left: 50%;
    margin-top: 2%;
}

.resume-par{
    font-size: 125%;
    text-align: center;
    font-family: Eurostile;
    margin-top: 10%;
}

.portfolio-info{
    font-size: 125%;
    text-align: center;
    font-family: Eurostile;
}

/*p{
    font-size: 125%;
    text-align: center;
    font-family: Eurostile;

}*/

.bottom-content {
    align-content: center;
    margin-top: 40%;
}

.myname{
    font-size: 125%;
    text-align: center;
    font-family: Eurostile;
    /*margin-top: 30%;*/
}

footer {
    margin-top: 5%;
    /*align-content: center;*/
}

.jumbotron {
    padding: 1%;
    margin-bottom: 1%;
    background-color: transparent;
}
/*========end of my own css========*/